h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -2px;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p, a, .small-text {
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 20px;
    color: rgb(63, 63, 63);
}

a {
    text-decoration: none;
    font-size: 16px;
}

.small-text {
    font-size: 12px;
}

ul {
    list-style: none;
}

.btn {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.btn-primary:link, .btn-primary:visited {
    color: #339af0;
}

.btn-primary:hover, .btn-primary:active {
    color: #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
    color:#9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #7048e8;
}

.btn-primary {
    color: #339af0;
}

.btn-secondary {
    color: #9775fa;
}